*{
    box-sizing: border-box;    
}
body{
    background-size: 10%;    
    background-attachment: fixed;      
} 

section{
    display: flex;
}
.input_book{
    width: 20%;
    height: 400px;   
    padding: 15px 15px;
    margin: 20px 20px;
    align-items: center;
    background-color: rgba(54, 56, 70, 0.63);
    border: 2px solid rgba(255, 166, 0, 0.904);
    border-radius: 12px;
}    
input{
    width: 95%;
    height: 25px;
    margin: 8px;
    border: 1px solid purple;
    border-radius: 4px;
}
h3{
    margin: 5px 5px;
    text-align: center;
}
button{
    width: 65%;
    height: 25px;
    margin: 10px 42px;
    border: 1px solid rgb(59, 4, 131);
    border-radius: 6px;
    background-color: rgba(255, 166, 0, 0.904);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
         
}
button:active{
    border: 1px solid rgb(199, 22, 190);
    box-shadow: 2px 2px 5px 3px #ffbd06e7;
}
.bi.bi-book{
    margin: -4px 3px;
}
.books_shelf{
    margin: 20px 2px;
    width: 75%;
    height: 600px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.bookplate{
    display: block;
    background-image: url(../images/ppp.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 8px 15px;
    border: 3px double rgba(255, 166, 0, 0.904);;
    background-color: rgba(54, 56, 70, 0.63);
    border-radius: 12px;
    width: 35%;
    height: 90px;
    margin: 5px;
    
}


.foot{
    margin: -5px -5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial;
    font-size: 12px;
}
p{
    color: white;
}
span{
    color: white;
}
.head {
    display: flex;
    
}
.head p{
    color: white;
    font-size: 16px;
    margin: 24px auto 14px 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
    

}
.bookplate_icons{
    margin: 20px 10px 0 0;
    cursor: pointer;
} 
.bookplate.marked{
    background-color: rgba(204, 98, 28, 0.918);
    border: 3px solid rgb(0, 0, 100);
}
.book_detail{
    display: block;
    background-image: url(../images/ppp.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 8px 15px;
    border: 3px double rgba(255, 166, 0, 0.904);;
    background-color: rgba(54, 56, 70, 0.925);
    border-radius: 12px;
    width: 35%;
    height: 500px;
    margin: 50px 35%;

}
.book_detail h2, .book_detail h3{
    color: rgb(219, 145, 48);
    text-align: center;
    
}
.book_detail p{
    margin: 30px 25px;
}
.head a{
    color: white;
}
.head a:active{
    color: orange;
}
.head a:visited{
    color: rgb(3, 3, 114);
}